<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @tree %>

<br />

<div style="color: green; margin: 10px;"> 

<textarea rows="10" cols="20">
<%= @tree2 %>
</textarea> 
<%= @tree2 %>

</div>
